<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>section</key>
		<string>settings</string>
		<key>items</key>
		<array>
			<dict>
				<key>key</key>
				<string>saveimages</string>
				<key>switch</key>
				<true/>
			</dict>
			<dict>
				<key>key</key>
				<string>permissions</string>
				<key>switch</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>about</string>
		<key>items</key>
		<array>
			<dict>
				<key>key</key>
				<string>share</string>
				<key>switch</key>
				<false/>
			</dict>
			<dict>
				<key>key</key>
				<string>feedback</string>
				<key>switch</key>
				<false/>
			</dict>
			<dict>
				<key>key</key>
				<string>terms</string>
				<key>switch</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>danger</string>
		<key>items</key>
		<array>
			<dict>
				<key>key</key>
				<string>logout</string>
				<key>switch</key>
				<false/>
			</dict>
			<dict>
				<key>key</key>
				<string>cache</string>
				<key>switch</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
